<header class="mb-5">
  <!-- Navbar -->
  <nav class="navbar navbar-expand navbar-light bg-dark">
    <div class="container-fluid">
      <div
        class="collapse navbar-collapse"
      >
        <ul class="navbar-nav me-auto w-100 justify-content-between">
          <div>
            <ul class="navbar-nav me-auto w-100">
              <li class="nav-item active">
                <a class="nav-link text-light" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" routerLink="blogposts">Blogposts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">My profile</a>
              </li>
            </ul>
          </div>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="login">Sign in</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>
