<nav aria-label="pagination" *ngIf="amountOfPages !== 1">
  <ul class="pagination pagination-container fixed-bottom w-100 justify-content-center">
    <li class="page-item">
      <a class="page-link"
         [ngClass]="{disabled: currentPage === 1 }"
         (click)="changePage(currentPage - 1)">Previous
      </a>
    </li>
    <li class="page-item">
      <a class="page-link"
         (click)="changePage(1)"
         [ngClass]="{active: currentPage === 1 }">1
      </a>
    </li>
    <li class="page-item"
        *ngIf="currentPage > 1 && currentPage < amountOfPages">
      <a class="page-link active"
      >{{ currentPage }}</a>
    </li>
    <li class="page-item">
      <a class="page-link"
         [ngClass]="{active: currentPage === amountOfPages}"
         (click)="changePage(amountOfPages)"
      >{{ amountOfPages }}</a>
    </li>
    <li class="page-item">
      <a class="page-link"
         [ngClass]="{disabled: currentPage === amountOfPages}"
         (click)="changePage(currentPage + 1)">Next
      </a>
    </li>
  </ul>
</nav>
{{ currentPage }} {{ amountOfPages }}
